*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	/* overflow-x: hidden; */

  	-webkit-font-smoothing: antialiased;
}
/*For reset overflow and padding after open MUI menuProfiles*/
body{
	padding-right: 0 !important;
	overflow-y: auto !important;
	background-color: #141414;
}

/* For define color default in inputs and labels forms of project */
input{
	color: #f5f5f5 !important;
}

label{
	color: #CCC !important;
}
